body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f5;
}
header h1 {
    margin: 0 auto;
    text-align: center;
}

/* header {
    background-color: #333;
    color: white;
    text-align: center;
} */

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

select {
    margin-top: 20px;
    padding: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Class-based selector */

img {
    width: 150px; /* Adjust this size to your preference */
    height: 150px; /* Adjust this size to your preference */
    display: block;
    margin: 0 auto;
    border: 2px solid #333;
}

/* ID-based selector */
#unique-element {
    color: #333;
    font-weight: bold;
}

/* Hierarchical selector */
header nav ul li a {
    font-family: 'Courier New', monospace;
    font-size: 14px;
}

/* Pseudo-class selector */
a:hover {
    color: #f90;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #700c0c;
    /* overflow: hidden; */
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #2c167b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(22, 158, 26);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
